// colors
$color__primary: #56AD9C;
$color__primary_600: #d1e6e2;
$color__primary_400: #E9F1F0;

$color__secondary: #a1eafb;

$color__light: #fdfdfd;
$color__dark: #212121;
$color__gray: #9D9D9D;
$color__danger: #fe5f55;